#cabecalho {
  position: fixed;
  top: 0;
  display: block;
  background-color: black;
  background-position: cover;
  padding: 20px;
  }
  
#titulo {
  text-align: center;
  }

.lado-esquerdo {
  display: inline-block;
  width: 600px;
  }
  
.lado-direito {
  display: block;
  width: 400px;
  float: right;
  text-align: center;
  }
  
h1 {
  color: white;
}

img {
  width: 200px;
  border-radius: 50%;
  }

a {
  text-decoration: none;
  color: black;
  display: inline-block;
  margin: 0 100px;
  padding: 20px;
  }

body {  
  background-color: rgb(253, 251, 251);font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 20px;
  line-height: 40px;
  color: slategrey;
  margin: 150px 100px;
  }

table , td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}